<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/styles1.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <form method="post">
            <h1>Login</h1>
            <div class="input-box">
                <i class='bx bxs-user'></i>
                <input id="email" type="text" placeholder="email" name="email" required>
                <div class="email error"></div>
            </div>
            <div class="input-box">
                <input id="password" type="password" placeholder="Password please" name="password" required>
                <i class='bx bxs-lock-alt' ></i>
                <div class="password error"></div>
                <button type="submit" class="btn">LOGIN</button>
            </div>
        </form>
    
    <div class="register-link">
        <p>Dont have an account? <a href="/user/register">Register</a></p>
    </div>
    </div>
</body>


<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');



    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        emailError.textContent = '';
        passwordError.textContent = '';
        
        const email = form.email.value;
        const password = form.password.value;

        try {
            const res = await fetch('/user/login', {
                method: 'POST',
                body: JSON.stringify({ email: email, password: password}),
                headers: { 'content-Type': 'application/json'}
            });
            const data = await res.json();

            if(data) {
                emailError.textContent = data.email;
                passwordError.textContent = data.password;
            }

            if(data.user) {
                location.assign('/');
            }

        } catch(err) {
            console.log(res);
        }
    })
</script>
</html>
